{% extends "base.html" %}
{% block title %}Admin Actions{% endblock %}

{% block content %}

<div>
  <img src="{{url_for('static', filename='user.jpeg')}}" style="display: block; margin-left: auto; margin-right: auto; max-width: 75%; margin-top: 30px;" />
</div>

<h2 align="center" >Admins Main Page</h2>

<h3 align="center" style="margin-top: 30px;">Choose the type of Account to create:</h3>

<div class="container">
    <p align="center" style="margin-top: 30px;">
        <a href=doctor ><button class="btn btn-primary btn-lg" style="margin-left: auto; margin-right: 30px; height:75px;width:150px">Doctor</button></a>
        <a href=receptionist ><button class="btn btn-primary btn-lg" style="margin-left: auto; margin-right: auto; height:75px;width:150px">Receptionist</button></a>
        <a href=admin ><button class="btn btn-primary btn-lg" style="margin-left: 30px; margin-right: auto; height:75px;width:150px">Admin</button></a>
    </p>
</div>


{% endblock %}