{% extends "base.html" %}
{% block title %}Fill Questionnare{% endblock %}

{% block content %}

<div>
  <img src="{{url_for('static', filename='Doctor.jpg')}}" style="display: block; margin-left: auto; margin-right: auto; max-width: 75%; margin-top: 30px;" />
</div>


<form method="POST" style="display: block; margin-left: auto; margin-right: auto;max-width: 50%;">
    <h3 align="center">Patient List</h3>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
{% endblock %}